{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>
    7 Simul Flip Improved (7sf+)
</h1>
<p>
    After reading <a href="/clock/7simul_flip_intro">intro to 7 simul flip</a>, you may notice some of the suboptimal part of it.<br>
    First of all, before x2, there is an instruction to quickly inspect the C - U which will be later applied in solve on the new face.<br>
    With practice, this might become an instinct, but the number actually remains unchanged throughout the process. Therefore, memorizing C - U as M5 is very simple during inspection.<br>
    Another suboptimal part is during step 5, we need to align ur to dl, while dl is subject to change. However, this number is simply U - L which could be memorized as M6 during inspection.<br>
    These are the two optimization that most 7 simul flip solvers adopt for quicker solves.<br>
    In this page, I will present how to calculate each of the 14 moves during inspection.<br>
    <u>If you are curious, see the derivations in <a href="/clock/7simul_flip_theory">theoretical derivation</a>.</u>
</p>

<h2>
    Applications
</h2>
<p>
    The first application, is you may decide to memorize 6 &le; X &le; 14 steps during inspection. So you can more efficiently speed solve the puzzle.<br>
    The second application, is you may memorize 14 steps and then blindfold the puzzle.<br>
    Another clock blindfold method would be to remember the position of each of the 14 clock face (corner clock are always identical on both sides). Then solve them one by one using a fixed algorithm.<br>
    This method would be much faster to execute, although much more calculation during the memorization.
</p>

<h2>
    Method
</h2>
<p>
    We now demonstrate this method with the same example as before.
</p>

<div id="appendable-div">
</div>

<h2>
    Summary
</h2>
<p>
    The method is compiled as a table below, and also showing a recommended progression path you may follow for your speedsolve.<br>
    I personally use milestone 3 which is easy to memorize under 15 seconds with practice, and able to trim down my execution time by about 1 second, compared with milestone 1.<br>
    <u>Tips: for milestone 3, I have updated the memo order to M1, M2, M4, M3, M5, M6, M8, M7, which reduce the number of x2 during the memo.</u><br>
</p>
<p><strong>Milestone 1: Same as intro</strong></p>
<table border="1" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Pin Location</th>
            <th>Left Dial</th>
            <th>Right Dial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>dr</td>
            <td>M1 = D - R + ul - l</td>
            <td>M2 = c - u</td>
        </tr>
        <tr>
            <td>L</td>
            <td>Align D to R</td>
            <td>M3 = u - l</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>Align C to R</td>
            <td>Align DR to R</td>
        </tr>
        <tr>
            <td>(After x2) ur</td>
            <td>M4 = -r+d-L+UL</td>
            <td>Before x2, inspect and memorize C - U</td>
        </tr>
        <tr>
            <td>L</td>
            <td>Align d to r</td>
            <td>Align ur to dl after left dial is done</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>Align c to r</td>
            <td>Align dr to r</td>
        </tr>
        <tr>
            <td>\</td>
            <td>AUF ul</td>
            <td>AUF ur</td>
        </tr>
    </tbody>
</table>

<p><strong>Milestone 2: Memorize 6 numbers</strong></p>
<table border="1" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Pin Location</th>
            <th>Left Dial</th>
            <th>Right Dial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>dr</td>
            <td>M1 = D - R + ul - l</td>
            <td>M2 = c - u</td>
        </tr>
        <tr>
            <td>L</td>
            <td>Align D to R</td>
            <td>M3 = u - l</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>Align C to R</td>
            <td>Align DR to R</td>
        </tr>
        <tr>
            <td>(After x2) ur</td>
            <td>M4 = -r+d-L+UL</td>
            <td>M5 = C - U</td>
        </tr>
        <tr>
            <td>L</td>
            <td>Align d to r</td>
            <td>M6 = U - L</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>Align c to r</td>
            <td>Align dr to r</td>
        </tr>
        <tr>
            <td>\</td>
            <td>AUF ul</td>
            <td>AUF ur</td>
        </tr>
    </tbody>
</table>

<p><strong>Milestone 3: Memorize 8 numbers (highly recommended)</strong></p>
<table border="1" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Pin Location</th>
            <th>Left Dial</th>
            <th>Right Dial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>dr</td>
            <td>M1 = D - R + ul - l</td>
            <td>M2 = c - u</td>
        </tr>
        <tr>
            <td>L</td>
            <td>M3 = R - D</td>
            <td>M4 = u - l</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>Align C to R</td>
            <td>Align DR to R</td>
        </tr>
        <tr>
            <td>(After x2) ur</td>
            <td>M5 = -r+d-L+UL</td>
            <td>M6 = C - U</td>
        </tr>
        <tr>
            <td>L</td>
            <td>M7 = r - d</td>
            <td>M8 = U - L</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>Align c to r</td>
            <td>Align dr to r</td>
        </tr>
        <tr>
            <td>\</td>
            <td>AUF ul</td>
            <td>AUF ur</td>
        </tr>
    </tbody>
</table>

<p><strong>Milestone 4: Memorize 14 numbers (For Clock Speed BLD)</strong></p>
<table border="1" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Pin Location</th>
            <th>Left Dial</th>
            <th>Right Dial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>dr</td>
            <td>M1 = D - R + ul - l</td>
            <td>M2 = c - u</td>
        </tr>
        <tr>
            <td>L</td>
            <td>M3 = R - D</td>
            <td>M4 = u - l</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>M5 = D - C</td>
            <td>M6 = R - DR + l - u</td>
        </tr>
        <tr>
            <td>(After x2) ur</td>
            <td>M7 = d - r + UL - L</td>
            <td>M8 = C - U</td>
        </tr>
        <tr>
            <td>L</td>
            <td>M9 = r - d</td>
            <td>M10 = U - L</td>
        </tr>
        <tr>
            <td>UL</td>
            <td>M11 = d - c</td>
            <td>M12 = r - dr + L - U</td>
        </tr>
        <tr>
            <td>\</td>
            <td>M13 = R + L - UL - DR + c - u - d</td>
            <td>M14 = U + D - C - DL - UR - l - r</td>
        </tr>
    </tbody>
</table>

<h2>Further Reading</h2>
<p>There are some discussion on <a href="https://www.speedsolving.com/threads/clock-blind.93140/">Clock BLD</a> and the author introduced an approach similar to the one introduced here although without theoretical derivation.</p>

<script>
    // Get Django variable safely into JavaScript
    const table_data = JSON.parse('{{ table_data|escapejs }}');

    for (let i = 0; i < table_data.length; i++) {
        const li = document.createElement("div");
        li.innerHTML = table_data[i].paragraph;
        li.id = `item-${i}`;
        document.getElementById("appendable-div").appendChild(li);
        const viz = document.createElement("div");
        viz.style = "max-width: 640px; margin: auto;";
        const adj = document.createElement("div");
        adj.id = `adjuster-${i}`;
        adj.className = "has-text-centered";
        const canvas = document.createElement("canvas");
        canvas.id = `canvas-${i}`;
        adj.appendChild(canvas);
        viz.appendChild(adj);
        document.getElementById("appendable-div").appendChild(viz);
        let scramble = table_data[i].scramble.split(',').map(Number);
        let operations = table_data[i].operations.split(',').map(Number);
        let clocks = makeClocks(scramble, operations);
        if (!table_data[i].annotation) {
            table_data[i].annotation = null;
        }
        if (!table_data[i].operations) {
            table_data[i].operations = null;
        }
        if (!table_data[i].change_pins) {
            table_data[i].change_pins = null;
        }
        let plot_pointer = true;
        if (table_data[i].annotation && table_data[i].annotation.startsWith("UL")) {
            plot_pointer = false;
        }
        render(clocks, "x2", adj.id, canvas.id, convert_to_matrix(table_data[i].annotation), convert_to_change_pin_matrix(table_data[i].change_pins), plot_pointer);
    }
</script>

{% endblock content %}