{% extends "base.html" %}

{% block content %}
<h1>
    7 Simul Flip Theory
</h1>
<p>
    Here we present the proof of the above solution, by formulating the problem of solving Rubik's clock as solving a
    linear algebra equation.<br>
    We will explain how to formulate the problem as a matrix equation, with the example of filling only a few row
    entries in the matrix.<br>
    The entries could also be computed using a computer program.
</p>

<h2>Problem formulation</h2>
<p>
    Denote initial values of the clock as a0, b0, c0, d0, ...
</p>

<div id="appendable-div-0">
</div>


<p>
    There are 14 operations in 7 simul flip method. In step 1, we execute left dial (operation 1), then right dial
    (operation 2). In step 2, we execute left dial (operation 3), then right dial (operation 4) ...<br>
    We annotate the clockwise turn count on each operation. If we turn more than 180 degrees clockwise, annotate as a
    negative.<br>
    For example, if we turn left dial at first step by 60 degrees counterclockwise, then x1 = -2.<br>
    If we turn right dial at first step by 120 degrees clockwise, then x2 = 4.<br>
</p>

<div id="appendable-div-1">
</div>

<p>
    Let's consider the effect of applying x1 move(s) onto the clock value.<br>
    See the visualilzation below of how would one clockwise move affect the clocks.<br>
    We know that clock a will be incremented by 1, clock b will be incremented by 1, etc.
</p>

<div id="appendable-div-2">
</div>

<p>
    Therefore, after applying x1 moves(s), the clock become:
</p>

<div id="appendable-div-3">
</div>

<p>
    After applying all the moves, clock a will become a0 + a linear combination of x1, x2, ...<br>
    We could either derive these linear combinations by manually tracing the effect of each move, or with a computer program.<br>
    Eventually, we want to find a solution of x1, x2, ..., x14, such that each clock become 0.
</p>

<p>
    If you are familiar with linear algebra, this could be represented as an equation:
</p>

<p>$$
    \begin{bmatrix} a_0 \\ b_0 \\ c_0 \\ \vdots \\ n_0 \end{bmatrix} +
    T \cdot \begin{bmatrix} x_1 \\ x_2 \\ x_3 \\ \vdots \\ x_{14} \end{bmatrix} =  \begin{bmatrix} 0 \\ 0 \\ 0 \\ \vdots \\ 0 \end{bmatrix}
$$</p>

<p>Notice T is a 14x14 matrix, and it happens to be invertible.</p>

<p>$$
    \Rightarrow \begin{bmatrix} x_1 \\ x_2 \\ x_3 \\ \vdots \\ x_{14} \end{bmatrix} = -T^{-1} \cdot \begin{bmatrix} a_0 \\ b_0 \\ c_0 \\ \vdots \\ n_0 \end{bmatrix}
$$</p>

<p>If we denote
    $$
    S = -T^{-1}
    $$, then
    $$
    x_1 = S_{1,1}a_0 + S_{1, 2}b_0 + \cdots + S_{1, 14}n_0
    $$
    In other word, each $$x_i$$ is a linear combination of $$a_0, b_0, \cdots, n_0$$
    The solution after cleaning up will be the results presented in <a href="/clock/7simul_flip_improved">7sf+ and
        speed BLD</a>
</p>

<script>
const visualizeClock = (index, clocks, annotation, change_pin = null, plot_pointer = true) => {
    const viz = document.createElement("div");
    viz.style = "max-width: 640px; margin: auto;";
    const adj = document.createElement("div");
    adj.id = `adjuster-${index}`;
    adj.className = "has-text-centered";
    const canvas = document.createElement("canvas");
    canvas.id = `canvas-${index}`;
    adj.appendChild(canvas);
    viz.appendChild(adj);
    document.getElementById(`appendable-div-${index}`).appendChild(viz);
    render(clocks, "x2", adj.id, canvas.id, convert_to_matrix(annotation), convert_to_change_pin_matrix(change_pin), plot_pointer);
};

visualizeClock(0, [[[0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0]]], "a0,d0,g0,b0,e0,h0,c0,f0,i0,,k0,,j0,l0,n0,,m0,", "", false);
visualizeClock(1, [[[0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0]]], "a0,d0,g0,b0,e0,h0,c0,f0,i0,,k0,,j0,l0,n0,,m0,", "", false);
visualizeClock(2, [[[1, 1, 0], [1, 1, 1], [1, 1, 1]], [[0, 0, -1], [0, 0, 0], [-1, 0, -1]]], "", "0,1,0,0", true);
visualizeClock(3, [[[0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0]]], "a0+x1,d0+x1,g0+x1,b0+x1,e0+x1,h0+x1,c0,f0+x1,i0+x1,,k0,,j0,l0,n0,,m0,", "0,1,0,0", false);
</script>

{% endblock content %}