{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cubing Pro</title>

  <meta name="author" content="Bowen Deng">
  <meta name="description" content="Home for competitive speedcubers.">
  <meta name="keywords" content="rubik's cube, cubing, speedcubing, algorithms, algs">

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script async="" src="//www.google-analytics.com/analytics.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vendor/jquery.ba-replacetext.min.js' %}"></script>
  <script src="{% static 'js/clock.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/pyraminx.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/skewb.js' %}" type="text/javascript"></script>
  <script src="https://cdn.cubing.net/v0/js/cubing/twisty" type="module"></script>
  <script type="module">
    import "https://cdn.cubing.net/v0/js/cubing/twisty";
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body style="">

  <div id="container">
    <div id="header">
      <h1 class="title" style="position: fixed; top: 0; left: 50%; margin: 0; padding: 10px;"><img src="{% static 'fox_with_cube.png' %}" alt="" width="100"><a href="/">Cubing for Professionals</a> </h1>
    </div>

    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>

          <li>
            <h3>Cube Solver</h3>
            <ul>
              <li><a href="/solver">Rubik's Cube Solver</a></li>
            </ul>
          </li>

          <li>
            <h3>Competition Tools</h3>
            <ul>
              <li><a href="/comp_visualization">WCA visualization</a></li>
            </ul>
          </li>

          <li>
            <h3>2x2x2</h3>
            <ul>
              <li><a href="/2x2x2/eg_intro">EG method</a></li>
              <li><a href="/2x2x2/eg_alg">EG algorithms</a></li>
              <!-- TODO: EG trainer with a random scramble -->
              <!-- TODO: First face solver -->
              <!-- One look exercise with solution move prompt, and after choosing the right OLL pattern, select the right
                orientation, and then the right case -->
              <!-- <li><a href="/2x2x2/solves">Example WR solves</a></li> -->
            </ul>
          </li>

          <li>
            <h3>Clock</h3>
            <ul>
              <!-- <li><a href="/clock/7simul_intro">Tommy's 7 Simul</a></li> -->
              <!-- Tommy's 7 Simul Tool -->
              <li><a href="/clock/7simul_flip_intro">7 Simul Flip</a></li>
              <li><a href="/clock/7simul_flip_improved">7sf+ and speed BLD</a></li>
              <li><a href="/clock/7simul_flip_theory">Math Theory</a></li>
              <li><a href="/clock/7simul_flip_tool">7 Simul Flip Tool</a></li>
              <!-- Example clock solves -->
            </ul>
          </li>

          <li>
            <h3>Pyraminx</h3>
            <ul>
              <li><a href="/pyraminx/corner_first_intro">Corner First method</a></li>
              <li><a href="/pyraminx/corner_first_alg">Corner First algorithms</a></li>
              <li><a href="/pyraminx/v_first_alg">V-first algorithms</a></li>
              <!-- <li><a href="/pyraminx/tips">Tips on Tips</a></li> -->
              <!-- Example WR solves -->
              <!-- TODO: Pyraminx solve helper, maybe leverage https://www.reddit.com/r/Cubers/comments/1bschec/js_library_for_scramble_generation/ -->
              <!-- Pyraminx one look helper -->
            </ul>
          </li>

          <li>
            <h3>Skewb</h3>
            <ul>
              <li><a href="/skewb/sarah_beginner">Sarah's Beginner</a></li>
              <li><a href="/skewb/sarah_intermediate">Sarah's Intermediate</a></li>
              <!-- NS for Sarah's intermediate -->
              <!-- EG2 for Sarah's intermediate -->
              <!-- <li><a href="/skewb/sarah_intermediate">First Layer (copy from Renzha's + two diagonally solved + some example solves)</a></li> -->
              <!-- WR solve examples -->
              <!-- Sarah's advanced method -->
              <!-- First face solver, allow user input scramble -->
            </ul>
          </li>

          <li>
            <h3>Big Cube Blind</h3>
            <ul>
              <li><a href="/4bld/u2r2">4BLD with U2 and r2</a></li>
            </ul>
          </li>

          <!--
          
                                <li>
              <h3>3x3</h3>
              <ul>
                PLL recognition trainer with keyboards
                COLL trainer
                PLL trainer
                OLL trainer
                Roux
              </ul>
            </li>

            <li>
              <h3>Cubing Theory</h3>
              <ul>
                God's number
                Why cannot appear certain cases
              </ul>
            </li>

                        <li>
              <h3>Cubing Computation</h3>
              <ul>
                2-way BFS for 2x2 and Pyraminx
              </ul>
            </li>

                        <li>
              <h3>Cubing Reconstruction</h3>
              <ul>
              </ul>
            </li>
          
          <li>
              <h3>Big Cube</h3>
              <ul>
                <li><a href="/big_cube/yau">Yau 5, 6, 7</a></li>
              </ul>
            </li>

            <li>
              <h3>Megaminx</h3>
              <ul>
                <li><a href="/megaminx/ocll">OCLL</a></li>
              </ul>
            </li>

            <li>
              <h3>Square-1</h3>
              <ul>
                <li><a href="/sq1/eo">EO</a></li>
                <li><a href="/sq1/cp">CP</a></li>
                <li><a href="/sq1/ep">EP</a></li>
                CS
                POCP
                CSP
                OBL
                PBL
                Transient to PBL
              </ul>
            </li>

            <li>
              <h3>FMC</h3>
              <ul>
                <li><a href="/fmc/eo">Block Building with Insertion</a></li>
                <li><a href="/fmc/cp">Domino Reduction</a></li>
              </ul>
            </li>

                        <li>
              <h3>3BLD</h3>
              <ul>
                4 steps
                M2R2
                3 cycle
              </ul>
            </li>

            <li>
              <h3>Hetagon</h3>
              <ul>
              </ul>
            </li>

            <li>
              <h3>Kilominx</h3>
              <ul>
              </ul>
            </li>
 -->

          <li class="smaller copyright">© 2025 Bowen Deng</li>
        </ul>

    </div>
    </nav>
  </div>

  <div id="content" class="home">
    <div id="home">

      <h1 class="watermark">cubingpro.com</h1>

      {% if request.path != '/' %}
      <a href="/" class="button">Back to Home</a>
      {% endif %}

      <br>
      <button onclick="rainStars()">See a Cube Rain!</button>
      <div id="star-container"></div>

      {% block content %}{% endblock content %}

      <script>
        function rainStars() {
          for (let i = 0; i < 500; i++) {
            const star = document.createElement('img');
            star.classList.add('star');
            star.src = "{% static 'fox_with_cube.png' %}";
            star.style.top = `${-100 - Math.random() * 200}px`;
            star.style.left = Math.random() * 100 + 'vw';
            star.style.animationDuration = 10 + Math.random() * 5 + 's';
            star.style.animationDelay = Math.random() * 2 + 's';

            document.getElementById('star-container').appendChild(star);

            setTimeout(() => {
              star.remove();
            }, 7000);
          }

          const originalColor = getComputedStyle(document.body).backgroundColor;

          document.body.style.backgroundColor = '#000';

          setTimeout(() => {
            document.body.style.backgroundColor = originalColor;
          }, 6500);
        }
      </script>

    </div>

  </div>
  </div> <!-- /container -->

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1397403119979850"
    crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CK6MWC01K0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CK6MWC01K0');
  </script>

</body>

</html>