{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>FMC Domino Reduction</h1>
<div>
    <h1>A domino reduction guide for FMC</h1>
    <p>Reference: <a href="https://www.speedsolving.com/threads/a-domino-reduction-guide-for-fmc.74828/">DR guide by
            Alexandros Fokianos &amp; Tommaso Raposio</a></p>
    <h2>Prereqs</h2>
    <p>You should know what does FMC mean, and familiar with the standard notations for Rubik's cube. Before learning
        domino reduction, you are encouraged to learn more traditional FMC approach first. Reference: <a
            href="https://fmcsolves.cubing.net/fmc_tutorial_ENG.pdf">The Bible for FMC</a></p>
    <h2>Overview</h2>
    <p>The vanilla domino reduction method for FMC is a series of "group reduction", meaning at each stage, you will
        apply some moves so the cube can be solved with only a subset of moves. You should be color neutral for the FMC
        in general, and no exception for domino reduction.</p>
    <p>Below are the stages in a vanilla FMC solution, we will find a holistic solution which minimizes the total move
        count:<br>
        - Step 1 (Edge Orientation): Apply moves so all edges are oriented, so the cube can be solved with only <u,
            d,="" l,="" r,="" f2,="" b2="">.<br>
            - Step 2 (Domino Reduction): Apply moves so all corners are oriented, and all E-edges are on the E-layer, so
            the cube can be solved with only <u, d,="" l2,="" r2,="" f2,="" b2="">. If step 1 already oriented all
                corners or step 1 already put all E-edges on E-layer, this step is called partial domino reduction.<br>
                - Step 3 (Finish): Solve the cube.</u,>
        </u,>
    </p>
    <p>In this tutorial, we will focus on the vanilla method. You may refer to the document at the beginning of this
        page for more advanced tricks.</p>
    <h2>Edge Orientation</h2>
    <p>The standard Edge Orientation is very intuitive. For FMC, you should try multiple alternative EO solves, e.g. R'
        F might lead to a better case for next 2 stages, compared to R' F'.<br>
        If feasible, try to find a sequence that solves a "good" EO, with most corners oriented and some E-edges already
        in the E-layer.<br>
        Also, make sure to check all cube orientations: you may aim F/B EO <u, d,="" l,="" r,="" f2,="" b2=""> or L/R EO
            <u, d,="" l2,="" r2,="" f,="" b=""> or U/D EO <u2, d2,="" l,="" r,="" f,="" b="">. For each EO, you may make
                    a z rotation for the DR.<br>
                    For example, F/B EO can be reduced to <u, d,="" l2,="" r2,="" f2,="" b2=""> without a z rotation,
                        but you may also make a z rotation, and reduce to <u2, d2,="" l,="" r,="" f2,="" b2="">.</u2,>
                    </u,>
                </u2,>
            </u,>
        </u,>
    </p>
    <p>For example, use the scramble R' U' F D2 R2 B2 D2 R2 B' F' L2 U' F2 U2 L D U' F' L' D' R2 U R' U' F U' F.<br>
        <twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="3x3x3"
            alg="F' U F' U R U' R2 D L F U D' L' U2 F2 U L2 F B R2 D2 B2 R2 D2 F' U R"></twisty-player>
    </p>
    <p>Notice this cube is already in F/B EO. Currently, there are only two corners oriented (UBR and DLB), and two
        E-edges in E-layer (FR and BR).<br>
        However, you may make a z rotation, the cube is still in EO. But if you target <u2, d2,="" l,="" r,="" f2,=""
            b2=""> domino reduction, there are four corners oriented and three E-edges in E-layer. This is more likely
            to lead to a shorter solution in step 2.</u2,>
    </p>
    <p>Therefore, the strategy in step 1 is to try all 6 different EO.</p>
    <h2>Domino Reduction</h2>
    <p>The idea for Domino Reduction is to get familiar with some "triggers", and then setup your case into the trigger
        (no reverse needed for this context).<br>
        One example trigger is R U R' which solves the case below.<br>
        <twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="3x3x3"
            alg="R U R'"></twisty-player><br>
        Another trigger is R U2 R' which solves the case below.<br>
        <twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="3x3x3"
            alg="R U2 R'"></twisty-player><br>
        R is also a common trigger.
    </p>
    <p>You may use your second cube to setup to a trigger case, and try to setup the first cube into that trigger case.
    </p>
    <p>NISS could be applied here to increase the chance of finding a good solution. Learn NISS from <a
            href="https://fmcsolves.cubing.net/fmc_tutorial_ENG.pdf">The Bible for FMC</a>.</p>
    <h2>Partial Domino Reduction</h2>
    <p>Technically PDR refers to any of the three scenarios (although the overview only mentioned first 2 for
        simplicity).<br>
        - CO and EO are done, E-layer does not only have E-edges.<br>
        - E-layer and EO are done, CO is not done.<br>
        - CO and E-layer are done, EO is not done.</p>
    <p>For CO and EO done, may insert an edge commutator (e.g. U' M2 U or R' E2 R) when there are 1 or 2 bad edges. If
        there are 3 or 4 bad edges, it's not a very good case, consider switching previous moves.<br>
        For E-layer and EO done, you may use sune or classic 8movers corner commutators.<br>
        For CO and E-layer done, you may use Roux-style algorithms (e.g. M' U M).</p>
    <h2>Finish</h2>
    <ul>
        <li>Method 1: Have a skeleton close to solved state, then use insertions. Edge insertions very likely can cancel
            many moves.</li>
        <li>Method 2: Solve corners while try to influence more edges. Then use edge insertions.</li>
        <li>Method 3: Build blocks intuitively.</li>
        <li>Method 4: This can be used rarely, but reduce into Half Turn Reduction (HTR) <u2, d2,="" f2,="" b2,=""
                l2,="" r2="">, and then it's very easy to solve.</u2,>
        </li>
    </ul>
</div>

{% endblock content %}