{% extends "base.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Case</th>
            <th>CLL</th>
            <th>EG1</th>
            <th>EG2</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            <td>{{ row.Case }}</td>
            <td>
                <div style="text-align: center;">
                    <twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="2x2x2"
                        background="none" control-panel="none" alg="{{row.CLL_viz}} y z2"></twisty-player>
                    {{row.CLL_alg}}<br>
                    {{row.CLL_auf}}
                </div>
            </td>
            <td>
                <div style="text-align: center;">
                    <twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="2x2x2"
                        background="none" control-panel="none" alg="{{row.EG1_viz}} y z2"></twisty-player>
                    {{row.EG1_alg}}<br>
                    {{row.EG1_auf}}
                </div>
            </td>
            <td>
                <div style="text-align: center;">
                    <twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="2x2x2"
                        background="none" control-panel="none" alg="{{row.EG2_viz}} y z2"></twisty-player>
                    {{row.EG2_alg}}<br>
                    {{row.EG2_auf}}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}