{% extends "base.html" %}
{% load static %}

{% block content %}
<p>
    Hi. I'm <a href="https://www.worldcubeassociation.org/persons/2009DENG01" target="_blank">Bowen Deng</a>. I've been speedcubing since 2007.
  </p>

  <p>
    My ultimate goal with this site is to sync with the state-of-the-arts for competitive cubings. It's intended as the home for advanced speedcubers to regularly check latest algorithms, learn practical cubing theories, and help make improvement plans.
  </p>

  <p>
    Email me at my WCA ID @ gmail.com.
  </p>

  <h2>Table of Content</h2>
  <div id="toc">
  </div>
  
  <script>
    const sidebar = document.querySelector('#sidebar nav ul');
    const sidebarItems = Array.from(sidebar.querySelectorAll('a')).map(link => ({
      name: link.textContent,
      link: link.href,
      category: link.closest('li').parentElement.previousElementSibling ? link.closest('li').parentElement.previousElementSibling.textContent : null
    }));
    const toc = document.querySelector('#toc');
    const sidebarContainer = document.createElement('ul');
    sidebarItems.forEach(item => {
      if (item.name === 'Home') {
        return;
      }
      const listItem = document.createElement('li');
      const link = document.createElement('a');
      link.href = item.link;
      link.textContent = item.name;
      listItem.appendChild(link);
      if (item.category && (!sidebarItems[sidebarItems.indexOf(item) - 1] || sidebarItems[sidebarItems.indexOf(item) - 1].category !== item.category)) {
        const categoryElement = document.createElement('p');
        categoryElement.style.marginLeft = '-2em';
        categoryElement.textContent = item.category;
        sidebarContainer.appendChild(categoryElement);
      }
      sidebarContainer.appendChild(listItem);
    });
    toc.appendChild(sidebarContainer);
  </script>

{% endblock content %}