{% extends "base.html" %}
{% load static %}

{% block content %}
<p>
    Hi. I'm <a href="https://www.worldcubeassociation.org/persons/2009DENG01" target="_blank">Bowen Deng</a>. I've been speedcubing since 2007.
  </p>

  <p>
    My ultimate goal with this site is to sync with the state-of-the-arts for competitive cubings. It's intended as the home for advanced speedcubers to regularly check latest algorithms, learn practical cubing theories, and help make improvement plans.
  </p>

  <p>
    Email me at my WCA ID @ gmail.com.
  </p>
  
{% endblock content %}