{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "sarah_common.html" %}

<h1>
    Sarah's Advanced Method Overview
    <!-- TODO: Printable version -->
</h1>
<p>
    You are recommended to first read <a href="/skewb/sarah_intermediate">Sarah's intermediate method</a> page, if you
    are not familiar with intermediate method.<br>
</p>
<p><u>Step 1: Solve the first side.</u></p>
<canvas id="sarah-step-1" width="300" height="200"></canvas>

<p><u>Step 2: Solve the opposite side (corners and opposite center) and remaining centers together.</u></p>
<canvas id="sarah-step-4" width="300" height="200"></canvas>

<script>
    drawSkewb("sarah-step-1", "wwwwwbb   oo   gg   rr   ");
    drawSkewb("sarah-step-4", "yyyyyrrrrrgggggooooobbbbb");
</script>

<h1>
    Sarah's Intermediate Algorithm Enhanced
</h1>
<p>The first improvement from Sarah's intermediate is to memorize an optimized algorithm when the original execution was
    triple Sledge/Hedge.</p>
<p>There were three cases with triple S/H, which we provide the optimal algorithm in NS notation.</p>
<p>Tips: click on show notation above to understand the NS notation.</p>
{% for row in table_data %}
{% if row.category == 'A' %}
<div class="overview">
    <canvas id="{{ row.case }}" width="300" height="200"></canvas>
    <p class="details">{{ row.alg }}</p>
    <script>
        drawSkewb("{{ row.case }}", "{{ row.color }}");
    </script>
</div>
{% endif %}
{% endfor %}

<p>The second improvement is to learn the L4C algorithms. (WIP)</p>
<p>We skip U perm, Z perm, H perm.</p>
<p>If there are only 3 centers to be swapped, it can be set up to U perm with one set up move, and then reverse.</p>
<p>It's very straightforward to figure out, but you may experiment whether you want to have a cancellation move at the
    reverse step.</p>
<p>All the remaining cases have one side face solved, and top face unsolved.</p>
<p>They can be setup to the following triple sledge case either with (using NS algorithm notation) L' move S S S L move
    (cancel one move at the end) or R move S S S R' move (cancen one move at the beginning).</p>
{% for row in table_data %}
{% if row.category == 'B' %}
<div class="overview">
    <canvas id="{{ row.case }}" width="300" height="200"></canvas>
    <p class="details">{{ row.alg }}</p>
    <script>
        drawSkewb("{{ row.case }}", "{{ row.color }}");
    </script>
</div>
{% endif %}
{% endfor %}

<h1>
    Sarah's Advanced Method Algorithms (WIP)
</h1>
<p>Tips: click on show notation above to understand the notations.</p>

{% for case in cases %}
<h2>{{ case }}</h2>
{% for row in table_data %}
{% if row.category == 'C' and row.case|slice:":4" == case %}
<div class="overview">
    <canvas id="{{ row.case }}" width="300" height="200"></canvas>
    <p>{{ row.case }}</p>
    <p class="details">{{ row.alg }}</p>
    <p>{{ row.anno }}</p>
    <p>FCN notation scramble: {{ row.scramble }}</p>
    <p>NS notation scramble: {{ row.ns_scramble }}</p>
    <script>
        drawSkewb("{{ row.case }}", "{{ row.color }}");
    </script>
</div>
{% endif %}
{% endfor %}
{% endfor %}

<h1>
    <a id="trainer"></a>
    Sarah's Advanced Method Trainer
    <a href="#trainer" title="Bookmark link to Trainer section">🔗</a>
</h1>

<button onclick="regenerateTrainerCase();">New Random Case</button>
<script>
    // Pass trainer data from Django as JSON
    const trainerRows = {{ table_data_for_trainer|safe }};

    function regenerateTrainerCase() {
        const randomRow = trainerRows[Math.floor(Math.random() * trainerRows.length)];

        // Update scramble text
        const scrambleP = document.getElementById('trainer-scramble');
        scrambleP.textContent = 'FCN notation scramble: ' + randomRow.scramble + '<br>' +
            'NS notation scramble: ' + randomRow.ns_scramble;


        // Update canvas
        let canvas = document.getElementById('trainer-canvas');
        drawSkewb("trainer-canvas", randomRow.color);

        // Update annotation and algorithm
        document.getElementById('anno').innerHTML = randomRow.anno;
        document.getElementById('alg').innerHTML = randomRow.alg;
        document.getElementById('anno').style.display = 'none';
        document.getElementById('alg').style.display = 'none';
    }
</script>
{% with random_row=table_data_for_trainer|random %}
<p id="trainer-scramble">FCN notation scramble: {{ random_row.scramble }}<br>NS notation scramble: {{ random_row.ns_scramble }}</p>
<canvas id="trainer-canvas" width="300" height="200"></canvas>
<img src="{% static 'skewb_notation.png' %}" alt="Image unavailable"
    style="max-width: 50%; height: auto; float: none !important;"> </p>
<button onclick="toggleVisibility('anno')">Show/Hide Annotation</button>
<button onclick="toggleVisibility('alg')">Show/Hide Algorithm</button>
<p id="anno" style="display:none;">{{ random_row.anno }}</p>
<div id="alg" class="details" style="display:none;">
    <p>{{ random_row.alg }}</p>
</div>
<script>
    function toggleVisibility(id) {
        var el = document.getElementById(id);
        el.style.display = (el.style.display === 'none') ? 'block' : 'none';
    }
    drawSkewb("trainer-canvas", "{{ random_row.color }}");
</script>
{% endwith %}

{% endblock content %}