{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "sarah_common.html" %}

<h1>
    Sarah's Advanced Method Overview
    <!-- TODO: Printable version -->
</h1>
<p>
    You are recommended to first read <a href="/skewb/sarah_intermediate">Sarah's intermediate method</a> page, if you are not familiar with intermediate method.<br>
</p>
<p><u>Step 1: Solve the first side.</u></p>
<canvas id="sarah-step-1" width="300" height="200"></canvas>

<p><u>Step 2: Solve the opposite side (corners and opposite center) and remaining centers together.</u></p>
<canvas id="sarah-step-4" width="300" height="200"></canvas>

<script>
    drawSkewb("sarah-step-1", "wwwwwbb   oo   gg   rr   ");
    drawSkewb("sarah-step-4", "yyyyyrrrrrgggggooooobbbbb");
</script>

<h1>
    Sarah's Intermediate Algorithm Enhanced
</h1>
<p>The first improvement from Sarah's intermediate is to memorize an optimized algorithm when the original execution was triple Sledge/Hedge.</p>
<p>There were three cases with triple S/H, which we provide the optimal algorithm in NS notation.</p>
<p>Tips: click on show notation above to understand the NS notation.</p>
{% for row in table_data %}
{% if row.category == 'A' %}
<div class="overview">
    <canvas id="{{ row.case }}" width="300" height="200"></canvas>
    <p class="details">{{ row.alg }}</p>
    <script>
    drawSkewb("{{ row.case }}", "{{ row.color }}");
    </script>
</div>
{% endif %}
{% endfor %}

<p>The second improvement is to learn the L4C algorithms. (WIP)</p>
<p>We skip U perm, Z perm, H perm.</p>
<p>If there are only 3 centers to be swapped, it can be set up to U perm with one set up move, and then reverse.</p>
<p>It's very straightforward to figure out, but you may experiment whether you want to have a cancellation move at the reverse step.</p>
<p>All the remaining cases have one side face solved, and top face unsolved.</p>
<p>They can be setup to the following triple sledge case either with (using NS algorithm notation) L' move S S S L move (cancel one move at the end) or R move S S S R' move (cancen one move at the beginning).</p>
{% for row in table_data %}
{% if row.category == 'B' %}
<div class="overview">
    <canvas id="{{ row.case }}" width="300" height="200"></canvas>
    <p class="details">{{ row.alg }}</p>
    <script>
    drawSkewb("{{ row.case }}", "{{ row.color }}");
    </script>
</div>
{% endif %}
{% endfor %}

<h1>
    Sarah's Advanced Method Algorithms (WIP)
</h1>
<p>Tips: click on show notation above to understand the notations.</p>

{% endblock content %}