{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Write Tutorial</h1>
<a href="{% static 'instruction.mov' %}">Video Instructions on writing tutorial</a>
<!-- TODO: Instructions on how to write a tutorial -->
<form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required><br>
    <input type="text" name="author" placeholder="Author" required><br>
    <textarea id="editor" name="content" rows="20" cols="80"></textarea><br>
    <button type="submit">Save</button>
</form>

<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
    const easyMDE = new EasyMDE({
        element: document.getElementById("editor"),
        toolbar: [
            "bold", "italic", "heading", "|",
            {
                name: "InsertTwisty",
                action: function (editor) {
                    editor.codemirror.replaceSelection('<twisty-player style="width: 256px;height: 192px;" experimental-setup-anchor="end" puzzle="3x3x3" alg=""></twisty-player>');
                },
                className: "fa fa-cube",
                title: "Insert Twisty"
            },
            "|", "preview"
        ],
        autosave: {
            enabled: true,  // Enable autosave
            unique_id: "editor",  // Unique ID for this specific editor instance
            delay: 10000,  // Save every 10 seconds (default is 5000 ms)
            saveFunction: function (editor) {
                // Custom save function, e.g., sending the content to the server
                console.log('Autosaving: ' + editor.value());
            }
        }
    });
</script>

{% endblock content %}